*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.c{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.js{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: rgb(73, 207, 224);
    padding-top: 35px;
    padding-bottom: 35px;
    gap: 40px;
}
nav a{
    background-color: rgb(48, 148, 179);
    text-decoration: none;
    font-size: 25px;
    padding: 10px;
    border-radius: 10px;
}